@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


@{ Html.RenderPartial("01_Index/_01_fullscreen_banner.cshtml", Model); }

@{ Html.RenderPartial("01_Index/_02_About.cshtml", Model); }

@*@{ Html.RenderPartial("01_Index/_03_Services.cshtml", Model); }*@

@{ Html.RenderPartial("01_Index/_04_Portfolio.cshtml", Model); }


@section NaviBar
{
    <li><a class="onepage current" href="#fullscreen-banner">Home</a></li>
    <li><a class="onepage" href="#about">Manege frei</a></li>
   <!-- <li><a class="onepage" href="#services">Services</a></li>-->
    <li><a class="onepage" href="#gallery">Gallery</a></li>
    <li><a asp-page="/Blog">Blog</a></li>

    <!--<li><a class="onepage" href="#team">Team</a></li>
    <li><a class="onepage" href="#contact">Get In Touch</a></li>-->
}
