@page
@model IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<div id="about" class="section pt-7 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div data-wow-delay="0.3s" class="text-center mb-6 wow fadeInUp">
                    <i class="mdi-fire icon-title"></i>
                    <h4 class="fw-normal custom-font dark-color mb-1"><em>Dem MCC ist es gelungen eine Schar an Spitzen-Artisten zu engagieren.</em></h4>
                    <h2 class="fw-800 os-font dark-color section-title mb-1">UNSER MOTTO 2018 „MANEGE FREI“</h2>
                    <h5>
                        Internationale Artisten &amp; Künstler zeigen bald ihr Können in der legendären Usathal-Manege.
                    </h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div data-wow-delay="0.3s" class="wow fadeInUp">
                    <h4 class="fw-bolder os-font dark-color mb-1">WITH DANCE.</h4>
                    <p>
                        Lorem ipsum dolor sit amet, <strong>consetetur sadipscing elitr</strong>, 
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                        At vero eos et accusam et justo duo dolores et ea rebum.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.4s" class="wow fadeInUp">
                    <h4 class="fw-bolder os-font dark-color mb-1">WITH FUN.</h4>
                    <p>
                        Lorem ipsum dolor sit amet, <strong>consetetur sadipscing elitr</strong>,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.5s" class="wow fadeInUp">
                    <h4 class="fw-bolder os-font dark-color mb-1">WITH MUSIC.</h4>
                    <p>
                        Lorem ipsum dolor sit amet, <strong>consetetur sadipscing elitr</strong>,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mt-4 seperate-line"></div>
            </div>
        </div>
    </div>
</div>

<div class="section pb-7">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="mb-3 wow fadeInLeft">
                    <img src="~/images/image_555x450_Poster.jpg" alt="" />
                    <!--<iframe width="555" height="370" src="https://youtube.com/embed/MqOcFWaD18o?controls=0&autoplay=1&loop=1&playlist=MqOcFWaD18o"></iframe>-->
                </div>
            </div>
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="wow fadeInRight">
                    <h4 class="fw-bolder os-font dark-color mb-1">DIE VORBEREITUNGEN LAUFEN AUF</h4>
                    <p class="mb-2">
                        Unsere Artisten, Tanzgruppen &amp; Clowns trainieren nun schon seit Monaten, um Ihnen eine perfekte Circus-Vorstellung zu bieten... also die meisten jedenfalls..
                        Noch sitzt nicht jede Nummer und es steht noch harte Arbeit auf dem Programm. Aber die Fortschritte und der Spaß nimmt immer weiter zu und alle fiebern der großen Circus-Show entgegen.                        
                    </p>
                    <div class="cms-progress-wraper cms-progress-layout-default group-progressbar">
                        <div data-wow-delay="0.3s" class="block-progressbar wow fadeInUp">
                            <h3 class="cms-progress-title fw-normal fz-13">Die Große Roten Funken sind schon bei 60%</h3>
                            <div class="progresswrap">
                                <div role="progressbar" data-transitiongoal="60" class="progressbar"></div>
                            </div>
                        </div>
                        <div data-wow-delay="0.3s" class="block-progressbar wow fadeInUp">
                            <h3 class="cms-progress-title fw-normal fz-13">Die Büttenredner arbeiten an ihren Ideen - 30%</h3>
                            <div class="progresswrap">
                                <div role="progressbar" data-transitiongoal="30" class="progressbar"></div>
                            </div>
                        </div>
                        <div data-wow-delay="0.3s" class="block-progressbar wow fadeInUp">
                            <h3 class="cms-progress-title fw-normal fz-13">Der Musikzug hat schon einige Stücke einstudiert - 50%</h3>
                            <div class="progresswrap">
                                <div role="progressbar" data-transitiongoal="50" class="progressbar"></div>
                            </div>
                        </div>
                        <div data-wow-delay="0.3s" class="block-progressbar wow fadeInUp">
                            <h3 class="cms-progress-title fw-normal fz-13">Die Smarties feilen an ihrer spektakulären Nummer - 40%</h3>
                            <div class="progresswrap">
                                <div role="progressbar" data-transitiongoal="40" class="progressbar"></div>
                            </div>
                        </div>
                        <div data-wow-delay="0.3s" class="block-progressbar wow fadeInUp">
                            <h3 class="cms-progress-title fw-normal fz-13">Unsere Hauskapelle, die MCC Singers sind fleißig am Proben - 35%</h3>
                            <div class="progresswrap">
                                <div role="progressbar" data-transitiongoal="35" class="progressbar"></div>
                            </div>
                        </div>
                        <div data-wow-delay="0.3s" class="block-progressbar wow fadeInUp">
                            <h3 class="cms-progress-title fw-normal fz-13">Das Männerbalett... naja, das Männerbalett halt... 2%</h3>
                            <div class="progresswrap">
                                <div role="progressbar" data-transitiongoal="2" class="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="box-info pt-11 pb-26 text-right equalheight">
                    <h5 data-wow-delay="0.3s" class="fw-600 os-font wow fadeInUp">DIE SMARTIES</h5>
                    <h2 data-wow-delay="0.4s" class="fw-900 os-font fz-40 dark-color mb-2 wow fadeInUp">DANCE LIKE HELL</h2>
                    <p data-wow-delay="0.5s" class="mb-4 wow fadeInUp">
                        Dass sich das „starke Geschlecht“ nicht hinter so viel Weiblichkeit in den Tanzgruppen des MCC verstecken muss, beweisen Jahr für Jahr die Smarties.
                        Auch akrobatisch haben Sie einiges zu bieten, unvergessen sind ihre waghalsigen Stunts als der ultimative Starlight-Express - diese Jungs sind stets eine Augenweide.
                        Auch für ihren Auftritt in der Manege ist schon etwas ganz besonderes geplant...
                    </p>
                   <!-- <a data-wow-delay="0.6s" href="#" class="btn btn-color uppercase wow fadeInUp">Learn more</a>-->
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="box-banner equalheight" data-src="images/background/bg_1280x854_about01.jpg"></div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="box-banner equalheight" data-src="images/background/bg_1280x854_about02.jpg"></div>
            </div>
            <div class="col-md-6 p-0">
                <div class="box-info pt-11 pb-26 text-left equalheight">
                    <h5 data-wow-delay="0.3s" class="fw-600 os-font wow fadeInUp">DIE GROßEN ROTEN FUNKEN</h5>
                    <h2 data-wow-delay="0.4s" class="fw-900 os-font fz-40 dark-color mb-2 wow fadeInUp">ACROBATIC DANCE</h2>
                    <p data-wow-delay="0.5s" class="mb-4 wow fadeInUp">
                        Die Gruppe besteht aus ca. 30 jungen Frauen, die größtenteils schon in einer der vielen Kindergruppen ihre Bühnenkarriere beim MCC begonnen haben.
                        Mit dem Training haben die Großen Funken schon im August und üben wöchentlich für mind. 3 Stunden.
                    </p>
               
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="box-info pt-11 pb-26 text-right equalheight">
                    <h5 data-wow-delay="0.3s" class="fw-600 os-font wow fadeInUp">DIE BÜTTENREDEN</h5>
                    <h2 data-wow-delay="0.4s" class="fw-900 os-font fz-40 dark-color mb-2 wow fadeInUp">COMEDY AS ITS BEST</h2>
                    <p data-wow-delay="0.5s" class="mb-4 wow fadeInUp">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                    </p>
                    
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="box-banner equalheight" data-src="images/background/bg_1280x854_about03.jpg"></div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="box-banner equalheight" data-src="images/background/bg_1280x854_about04.jpg"></div>
            </div>
            <div class="col-md-6 p-0">
                <div class="box-info pt-11 pb-26 text-left equalheight">
                    <h5 data-wow-delay="0.3s" class="fw-600 os-font wow fadeInUp">DER MUSIKZUG</h5>
                    <h2 data-wow-delay="0.4s" class="fw-900 os-font fz-40 dark-color mb-2 wow fadeInUp">ROCK`N ROLL</h2>
                    <p data-wow-delay="0.5s" class="mb-4 wow fadeInUp">
                        Der Musikzug "Rote Husaren", die musikalische Abteilung des MCC wurde 1967 gegründet. 
                        Mehrmalige hessische Meisterschaften und erfolgreiche Beteiligung an Deutschen Meisterschaften waren Glanzpunkte in der Vereinsgeschichte.
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</div>