@page
@model IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<div id="about" class="section pt-7 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div data-wow-delay="0.3s" class="text-center mb-6 wow fadeInUp">
                    <i class="mdi-fire icon-title"></i>
                    <h4 class="fw-normal custom-font dark-color mb-1"><em>Awarded Company</em></h4>
                    <h2 class="fw-800 os-font dark-color section-title mb-1">WE TAKE CARE OF YOUR WORK</h2>
                    <p>
                        Stubb did but speak out for well nigh all that crew. The frenzies of the chase had by this time worked them bubblingly up, like old wine worked anew. Whatever pale fears and forebodings some of them might have felt before.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div data-wow-delay="0.3s" class="wow fadeInUp">
                    <h4 class="fw-bolder os-font dark-color mb-1">WITH LOVE.</h4>
                    <p>
                        Whatever it was, it was coming <strong>slowly toward the entrance of the cave</strong>, and now, deep and forbidding, it uttered a low and ominous growl. I waited no longer to dispute possession of the ledge with the thing which owned that voice. The noise had not been loud I doubt if the Sagoths heard it at all but the suggestion of latent possibilities.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.4s" class="wow fadeInUp">
                    <h4 class="fw-bolder os-font dark-color mb-1">WITH CARE.</h4>
                    <p>
                        Whatever it was, it was coming <strong>slowly toward the entrance of the cave</strong>, and now, deep and forbidding, it uttered a low and ominous growl. I waited no longer to dispute possession of the ledge with the thing which owned that voice. The noise had not been loud I doubt if the Sagoths heard it at all but the suggestion of latent possibilities.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.5s" class="wow fadeInUp">
                    <h4 class="fw-bolder os-font dark-color mb-1">WITH POWER.</h4>
                    <p>
                        Whatever it was, it was coming <strong>slowly toward the entrance of the cave</strong>, and now, deep and forbidding, it uttered a low and ominous growl. I waited no longer to dispute possession of the ledge with the thing which owned that voice. The noise had not been loud I doubt if the Sagoths heard it at all but the suggestion of latent possibilities.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mt-4 seperate-line"></div>
            </div>
        </div>
    </div>
</div>

<div class="section pb-7">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="mb-3 wow fadeInLeft">
                   <!-- <img src="images/image_555x370.jpg" alt="" />-->
                    <iframe width="555" height="370" src="https://youtube.com/embed/MqOcFWaD18o?controls=0&autoplay=1&loop=1&playlist=MqOcFWaD18o"></iframe>
                </div>
            </div>
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="wow fadeInRight">
                    <h4 class="fw-bolder os-font dark-color mb-1">WE ARE SKILLED.</h4>
                    <p class="mb-2">
                        Whatever it was, it was coming <strong>slowly toward the entrance of the cave</strong>, and now, deep and forbidding, it uttered a low and ominous growl. I waited no longer to dispute possession of the ledge with the thing which owned that voice. The noise had not been loud I doubt if the Sagoths heard it at all but the suggestion of latent possibilities. Is this the right time? We hope so.
                    </p>
                    <div class="cms-progress-wraper cms-progress-layout-default group-progressbar">
                        <div data-wow-delay="0.3s" class="block-progressbar wow fadeInUp">
                            <h3 class="cms-progress-title fw-normal fz-13">Development 90%</h3>
                            <div class="progresswrap">
                                <div role="progressbar" data-transitiongoal="90" class="progressbar"></div>
                            </div>
                        </div>
                        <div data-wow-delay="0.3s" class="block-progressbar wow fadeInUp">
                            <h3 class="cms-progress-title fw-normal fz-13">Design 80%</h3>
                            <div class="progresswrap">
                                <div role="progressbar" data-transitiongoal="80" class="progressbar"></div>
                            </div>
                        </div>
                        <div data-wow-delay="0.3s" class="block-progressbar wow fadeInUp">
                            <h3 class="cms-progress-title fw-normal fz-13">Marketing 70%</h3>
                            <div class="progresswrap">
                                <div role="progressbar" data-transitiongoal="70" class="progressbar"></div>
                            </div>
                        </div>
                        <div data-wow-delay="0.3s" class="block-progressbar wow fadeInUp">
                            <h3 class="cms-progress-title fw-normal fz-13">Photography 85%</h3>
                            <div class="progresswrap">
                                <div role="progressbar" data-transitiongoal="85" class="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="box-info pt-11 pb-26 text-right equalheight">
                    <h5 data-wow-delay="0.3s" class="fw-600 os-font wow fadeInUp">LET'S WORK TOGETHER</h5>
                    <h2 data-wow-delay="0.4s" class="fw-900 os-font fz-40 dark-color mb-2 wow fadeInUp">WE ARE ORIGINAL</h2>
                    <p data-wow-delay="0.5s" class="mb-4 wow fadeInUp">
                        Doubtless one leading reason why the world declines honouring us whalemen, is this: they think that, at best, our vocation amounts to a butchering sort of business; and that when actively engaged therein, we are surrounded by all manner of defilements. Butchers we are, that is true. But butchers, also, and butchers of the bloodiest badge have been all Martial Commanders whom the world invariably delights to honour. And as for the matter of the alleged uncleanliness of our business, ye shall soon be initiated into certain facts hitherto pretty generally unknown, and which, upon the whole, will triumphantly plant the sperm whale-ship.
                    </p>
                    <a data-wow-delay="0.6s" href="#" class="btn btn-color uppercase wow fadeInUp">Learn more</a>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="box-banner equalheight" data-src="images/background/bg_1280x854_about01.jpg"></div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="box-banner equalheight" data-src="images/background/bg_1280x854_about02.jpg"></div>
            </div>
            <div class="col-md-6 p-0">
                <div class="box-info pt-11 pb-26 text-left equalheight">
                    <h5 data-wow-delay="0.3s" class="fw-600 os-font wow fadeInUp">DOING GOOD THINGS</h5>
                    <h2 data-wow-delay="0.4s" class="fw-900 os-font fz-40 dark-color mb-2 wow fadeInUp">WE ARE CREATIVE</h2>
                    <p data-wow-delay="0.5s" class="mb-4 wow fadeInUp">
                        Doubtless one leading reason why the world declines honouring us whalemen, is this: they think that, at best, our vocation amounts to a butchering sort of business; and that when actively engaged therein, we are surrounded by all manner of defilements. Butchers we are, that is true. But butchers, also, and butchers of the bloodiest badge have been all Martial Commanders whom the world invariably delights to honour. And as for the matter of the alleged uncleanliness of our business, ye shall soon be initiated into certain facts hitherto pretty generally unknown, and which, upon the whole, will triumphantly plant the sperm whale-ship.
                    </p>
                    <a data-wow-delay="0.6s" href="#" class="btn btn-color uppercase wow fadeInUp">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="box-info pt-11 pb-26 text-right equalheight">
                    <h5 data-wow-delay="0.3s" class="fw-600 os-font wow fadeInUp">LET'S WORK TOGETHER</h5>
                    <h2 data-wow-delay="0.4s" class="fw-900 os-font fz-40 dark-color mb-2 wow fadeInUp">WE ARE ORIGINAL</h2>
                    <p data-wow-delay="0.5s" class="mb-4 wow fadeInUp">
                        Doubtless one leading reason why the world declines honouring us whalemen, is this: they think that, at best, our vocation amounts to a butchering sort of business; and that when actively engaged therein, we are surrounded by all manner of defilements. Butchers we are, that is true. But butchers, also, and butchers of the bloodiest badge have been all Martial Commanders whom the world invariably delights to honour. And as for the matter of the alleged uncleanliness of our business, ye shall soon be initiated into certain facts hitherto pretty generally unknown, and which, upon the whole, will triumphantly plant the sperm whale-ship.
                    </p>
                    <a data-wow-delay="0.6s" href="#" class="btn btn-color uppercase wow fadeInUp">Learn more</a>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="box-banner equalheight" data-src="images/background/bg_1280x854_about03.jpg"></div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="box-banner equalheight" data-src="images/background/bg_1280x854_about04.jpg"></div>
            </div>
            <div class="col-md-6 p-0">
                <div class="box-info pt-11 pb-26 text-left equalheight">
                    <h5 data-wow-delay="0.3s" class="fw-600 os-font wow fadeInUp">DOING GOOD THINGS</h5>
                    <h2 data-wow-delay="0.4s" class="fw-900 os-font fz-40 dark-color mb-2 wow fadeInUp">WE ARE CREATIVE</h2>
                    <p data-wow-delay="0.5s" class="mb-4 wow fadeInUp">
                        Doubtless one leading reason why the world declines honouring us whalemen, is this: they think that, at best, our vocation amounts to a butchering sort of business; and that when actively engaged therein, we are surrounded by all manner of defilements. Butchers we are, that is true. But butchers, also, and butchers of the bloodiest badge have been all Martial Commanders whom the world invariably delights to honour. And as for the matter of the alleged uncleanliness of our business, ye shall soon be initiated into certain facts hitherto pretty generally unknown, and which, upon the whole, will triumphantly plant the sperm whale-ship.
                    </p>
                    <a data-wow-delay="0.6s" href="#" class="btn btn-color uppercase wow fadeInUp">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>