@page
@model IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div id="services" class="section pt-7 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div data-wow-delay="0.3s" class="text-center mb-6 wow fadeInUp">
                    <i class="mdi-wallet icon-title"></i>
                    <h4 class="fw-normal custom-font dark-color mb-1"><em>Wide &amp; Powerful</em></h4>
                    <h2 class="fw-800 os-font dark-color section-title mb-1">OUR SERVICES</h2>
                    <p>
                        Stubb did but speak out for well nigh all that crew. The frenzies of the chase had by this time worked them bubblingly up, like old wine worked anew. Whatever pale fears and forebodings some of them might have felt before.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div data-wow-delay="0.3s" class="service-item mb-5 text-center wow fadeIn">
                    <div class="service-icon">
                        <i class="mdi-chart-line color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font dark-color">Growing Stats</h4>
                        <p>
                            My brother felt no anxiety about us, as he knew from the description in the papers that the cylinder was a good two miles from my house. He made up his mind straight. Since then he had been skulking along.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.4s" class="service-item mb-5 text-center wow fadeIn">
                    <div class="service-icon">
                        <i class="mdi-alarm color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font dark-color">Timely Deliveries</h4>
                        <p>
                            My brother felt no anxiety about us, as he knew from the description in the papers that the cylinder was a good two miles from my house. He made up his mind straight. Since then he had been skulking along.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.5s" class="service-item mb-5 text-center wow fadeIn">
                    <div class="service-icon">
                        <i class="mdi-cloud-outline color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font dark-color">Cloud Sharing</h4>
                        <p>
                            My brother felt no anxiety about us, as he knew from the description in the papers that the cylinder was a good two miles from my house. He made up his mind straight. Since then he had been skulking along.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.3s" class="service-item mb-5 text-center wow fadeIn">
                    <div class="service-icon">
                        <i class="mdi-heart-outline color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font dark-color">Love Driven</h4>
                        <p>
                            My brother felt no anxiety about us, as he knew from the description in the papers that the cylinder was a good two miles from my house. He made up his mind straight. Since then he had been skulking along.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.4s" class="service-item mb-5 text-center wow fadeIn">
                    <div class="service-icon">
                        <i class="mdi-presentation-play color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font dark-color">Media Masters</h4>
                        <p>
                            My brother felt no anxiety about us, as he knew from the description in the papers that the cylinder was a good two miles from my house. He made up his mind straight. Since then he had been skulking along.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.5s" class="service-item mb-5 text-center wow fadeIn">
                    <div class="service-icon">
                        <i class="mdi-whatsapp color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font dark-color">Online Support</h4>
                        <p>
                            My brother felt no anxiety about us, as he knew from the description in the papers that the cylinder was a good two miles from my house. He made up his mind straight. Since then he had been skulking along.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>