@page
@model BlogModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div id="gallery" class="section section-bg-11 pt-21 pb-15" style="background-image: url(../images/background/bg_1920x800_Blog.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div data-wow-delay="0.3s" class="text-center wow fadeInUp">
                    <h1 class="fw-bolder white">BLOG</h1>
                    <!--<h4 class="fw-normal white">
                        Lorem ipsum...<br />
                        Lorem ipsum
                    </h4>
                        -->
                </div>
            </div>
        </div>
    </div>
</div>



